<ion-view view-title="{{timerSet.name}}">
    <ion-content padding="true">
        <label class="item item-input item-stacked-label">
            <span class="input-label">Timer Set Name</span>
            <input type="text" placeholder="Mediation" ng-model="timerSet.name"/>
        </label>
        <ion-list show-reorder="reorderEnabled" can-swipe="swipeEnabled">
            <div class="item item-divider">Phases</div>
            <ion-item ng-repeat="phase in timerSet.phases track by $index">
                <h2>{{ phase.name }}</h2>
                <p>
                    <span>{{ phase.time }} sec.</span>
                    <span ng-if="phase.selfStoppingSound">
                      <i class="ion-ios-refresh-empty"></i>
                      One shot alarm
                    </span>
                    <span ng-if="!phase.selfStoppingSound">
                      <i class="ion-ios-loop-strong"></i>
                      Continuous alarm
                    </span>
                </p>
                <ion-option-button on-touch="deletePhase($index, phase)" class="button-assertive">Delete
                </ion-option-button>
                <ion-reorder-button class="ion-navicon"
                                    on-reorder="moveItem(phase, $fromIndex, $toIndex)">
                </ion-reorder-button>
                <ion-option-button on-touch="editPhase($index)" class="button-positive">Edit</ion-option-button>
            </ion-item>
            <ion-item on-touch="addPhase()"><i class="ion-plus-circled"></i> Add phase</ion-item>
        </ion-list>
    </ion-content>
</ion-view>
