<ion-view view-title="Timer">
  <ion-nav-buttons side="secondary">
    <button class="button" on-tap="addTimerSet()">
      <i class="ion-ios-plus-outline"></i>
      Add Timer
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list can-swipe="canSwipe">
      <ion-item class="item-icon-left" ng-repeat="set in timerSets" on-tap="show(set, $index)">
        <span class="icon ion-android-arrow-dropright-circle"></span>
        {{set.name}}
        <p>{{ set.phases.length }} phases ({{ totalTime(set) / 60 | number:1 }} minutes)</p>
      </ion-item>
      <!--
      <ion-item ng-repeat="set in timerSets" ui-sref="app.countDown({timerSetId: $index})">
        <h2>{{set.name}}</h2>
        <p>{{ set.phases.length }} phases ({{ totalTime(set) / 60 | number:1 }} minutes)</p>
        <ion-option-button class="button-assertive" on-tap="deleteTimerSet($index)">
          Delete
        </ion-option-button>
        <ion-option-button class="button-positive" on-tap="editTimerSet($index)">
          Edit
        </ion-option-button>
      </ion-item>
      -->
    </ion-list>
  </ion-content>
</ion-view>
