<ion-view view-title="{{timerSet.name}}">
  <ion-nav-buttons side="secondary">
    <button class="button" on-tap="addPhase()">
      <i class="ion-ios-plus-outline"></i>
      Add Phase
    </button>
  </ion-nav-buttons>
  <ion-content padding="true">
    <div class="item item-divider">Timer settings</div>
    <label class="item item-input item-stacked-label">
      <span class="input-label">Timer Name</span>
      <input type="text" placeholder="e.g. Mediation, Pomodoro, ..." ng-model="timerSet.name"/>
    </label>
    <ion-list show-reorder="reorderEnabled">
      <div class="item item-divider">{{ timerSet.phases.length }} Phase<span
        ng-show="timer.set.phases.length > 1">s</span></div>
      <ion-item ng-repeat="phase in timerSet.phases track by $index">
        <h2>{{ phase.name }}</h2>
        <p>
          <span>{{ phase.time }} sec.</span>
          <!--
          <span ng-if="phase.selfStoppingSound">
                      <i class="ion-ios-refresh-empty"></i>
                      One shot alarm
                    </span>
          <span ng-if="!phase.selfStoppingSound">
                      <i class="ion-ios-loop-strong"></i>
                      Continuous alarm
                    </span>
        -->
        </p>
        <ion-option-button on-tap="deletePhase($index, phase)" class="button-assertive">Delete
        </ion-option-button>
        <ion-reorder-button class="ion-navicon"
                            on-reorder="moveItem(phase, $fromIndex, $toIndex)">
        </ion-reorder-button>
        <ion-option-button on-tap="editPhase($index)" class="button-positive">Edit</ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>

  <div class="bar-footer bar bar-balanced">
    <div class="title" on-tap="saveTimerSet()">Save timer</div>
  </div>
</ion-view>
