.timer {
  background: transparent url("../img/bg2.jpg") center center no-repeat;
  background-size: cover;
  transition: all .3s linear;
}

.timer .seconds {
  font-size: 7em;
}

.timer h1, .timer h2 {
  padding: 0;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
  color: white;
}

.timer .row button {
  background-color: rgba(255, 255, 255, .2);
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

/*.timer-content {*/
  /*opacity: 0;*/
/*}*/

/*.timer-content {*/
  /*opacity: 1;*/
/*}*/
